# Dependency directories
node_modules/

# dotenv environment variables file
.env

# images
/public/assets/images/people/*
/public/assets/images/posters/*
/public/assets/images/banners/*
/public/assets/images/uploads/*
/public/assets/images/filmo_logo.png
/public/assets/images/filmo_logo_2.png

# devDependencies
.eslintrc.json
.prettierrc