# Dependency directories
node_modules/

# dotenv environment variables file
.env

# images
/public/assets/images/people/*
/public/assets/images/posters/*
/public/assets/images/banners/*
/public/assets/images/uploads/*
!/public/assets/images/people/.gitkeep 
!/public/assets/images/posters/.gitkeep 
!/public/assets/images/banners/.gitkeep 
!/public/assets/images/uploads/.gitkeep 
/public/assets/images/clownfish.png
/public/assets/images/favicon.png
/public/assets/images/filmo0926.png

# devDependencies
.eslintrc.json
.prettierrc