extends layout.pug 

block head
  link(rel='stylesheet', href='/public/assets/css/login.css', type='text/css')
  script(src='https://code.jquery.com/jquery-3.5.1.min.js', type="text/javascript")
  script(src='https://unpkg.com/axios/dist/axios.min.js')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  link(rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css")
block content 
  body 

    //- div#main
      div.signin Login
        div
          input#sign_in_email(type="text" placeholder="email")
        div
          input#sign_in_password(type="password" placeholder="password")
        button#sign_in_button.button_control(type="button" onclick='signin(event)') Sign In
          
      div.signup Register
        div
          input#sign_up_email(type="text" placeholder="email")
        div
          input#sign_up_username(type="text" placeholder="username")
        div
          input#sign_up_password(type="password" placeholder="password")
        button#sign_up_button.button_control(type="button" onclick='signup(event)') Sign Up

  div#main
    .section
      .container
        .row.full-height.justify-content-center
          .col-12.text-center.align-self-center.py-5
            .section.pb-5.pt-5.pt-sm-2.text-center
              h6.mb-0.pb-3
                span 
                  i18n(vanilla-i18n='login') Log In 
                span 
                  i18n(vanilla-i18n='signup') Sign Up
              input#reg-log.checkbox(type='checkbox', name='reg-log')
              label(for='reg-log', style="font-family: 'unicons'")
              .card-3d-wrap.mx-auto
                .card-3d-wrapper
                  .card-front
                    .center-wrap
                      .section.text-center
                        h4.mb-4.pb-3 
                          i18n(vanilla-i18n='login') Log In
                        .form-group
                          input#logemail.form-style(type='email', name='logemail', placeholder='Your Email', autocomplete='off')
                          i.input-icon.uil.uil-at
                        .form-group.mt-2
                          input#logpass.form-style(type='password', name='logpass', placeholder='Your Password', autocomplete='off')
                          i.input-icon.uil.uil-lock-alt
                        button#sign_in_button.button.mt-4(type="button" onclick='signin(event)') 
                          i18n(vanilla-i18n='submit') Submit
                        //- p.mb-0.mt-4.text-center
                        //-   a.link(href='#0') Forgot your password?
                  .card-back
                    .center-wrap
                      .section.text-center
                        h4.mb-4.pb-3 
                          i18n(vanilla-i18n='signup') Sign Up
                        .form-group
                          input#regisname.form-style(type='text', name='regisname', placeholder='Your Username', autocomplete='off')
                          i.input-icon.uil.uil-user
                        .form-group.mt-2
                          input#regisemail.form-style(type='email', name='regisemail', placeholder='Your Email', autocomplete='off')
                          i.input-icon.uil.uil-at
                        .form-group.mt-2
                          input#regispass.form-style(type='password', name='regispass', placeholder='Your Password', autocomplete='off')
                          i.input-icon.uil.uil-lock-alt
                        button#sign_up_button.button.mt-4(type="button" onclick='signup(event)') 
                          i18n(vanilla-i18n='submit') Submit  
    script.
    
      //Sign in
      //- const locale = !{ locale_string };

      async function signin(event){
        event.preventDefault()

        if ( $('#logemail').val() == "" || $('#logpass').val() == "" ) {
          alert("Please fill in all blank before login");
          return
        } 
        try{
          const signin_response = await axios({
            method: 'POST',
            url: '/api/1.0/user/signin',
            responseType: 'json',
            data: {
                email: $('#logemail').val(),
                password: $('#logpass').val()
            }
            }).catch(function (error) {
                let err_alert = error.response.data;
                alert(err_alert);
            });

          console.log(signin_response);
          window.location.href = `profile?locale=${locale}`
        }
        catch(err){
            console.log(err);
        }
      }

      //Sign up

      async function signup(event){
        event.preventDefault()
        console.log($('#regisname').val())
        console.log($('#regisemail').val())
        console.log($('#regispass').val())
        if ($('#regisname').val() == "" || $('#regisemail').val() == "" ||  $('#regispass').val() == "") {
            alert("Please fill in all blank before register");
            return
        }
        try{
          const signup_response = await axios({
              method: 'POST',
              url: '/api/1.0/user/signup',
              responseType: 'json',
              data: {
                username: $('#regisname').val(),
                email: $('#regisemail').val(),
                password: $('#regispass').val()
              }
          })
          console.log(signup_response);
          window.location.href = `profile?locale=${locale}`
        } catch(error) {
            console.log(error);
            let err_alert = error.response.data;
            alert(err_alert);
        }
      }
