.body {
  padding: 0;
  margin: 0;
}

.Parent {
  display: flex;
  flex-direction: row;
}

.child1 {
  width: 50%;
  height: 100vh;
  background-color: green;
  text-align: right;
  color: white;
}

.child2 {
  width: 50%;
  color: green;
  height: 100vh;
}

.content {
  margin: 100px 0 0 0;
}

/* nav selected */
.home {
  color: #e75e8d !important;
}
/* nav selected */

/* .title {
  text-align: center;
  padding: 100px;
  margin-top: 20px;
} */

.banner_title {
  display: flex;
  justify-content: center;
}

.banner_media {
  height: 100%;
  display: flex;
  float: center;
  position: relative;
}

/* img {
  max-width: 100%;
  height: auto;
} */
@media screen and (max-width: 1380px) {
  .banner_img {
    max-width: 100%;
  }
}

.banner_img {
  width: 1920px;
  margin-top: 5px;
  opacity: 0.9;
  height: 90%;
  object-fit: cover;
}

.banner_img:hover {
  opacity: 1;
}

.banner_poster {
  width: 350px;
}

.banner_text_background {
  position: absolute;
  bottom: 60px;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 150px;
}

.banner_text {
  position: absolute;
  bottom: 110px;
  left: 30px;
  color: white;

  /* padding-left: 20px; */
  /* padding-right: 20px; */
  /* text-align: justify; */
  /* width: 100%; */
}

.text-center.mt-5 {
  position: absolute;
  bottom: 5px;
  left: 100px;
}

.btn {
  margin-left: 450px;
  width: 200px;
}

.container {
  margin-bottom: 80px;
}

.movie_list {
  /* margin-left: 55px; */
  display: flex;
  justify-content: center;
  position: relative;
  /* flex-wrap: wrap;
  justify-content: space-between; */
}
/* TODO: */
.list_box {
  margin: 0 20px 0 40px;
}

.vmcarousel-normal {
  /* margin-left: 0px !important; */
}

.second_title {
  text-align: left;
  padding: 40px;
}

.list_div {
  display: flex;
  margin: 0 10px 0 0;
}

.list_img {
  width: 320px !important;
  /* margin: 15px 60px 0 0 !important; */
  display: flex;
  /* justify-content: space-around; */
}

.list_img:hover {
  -webkit-filter: brightness(110%);
}

.list_title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: large;
  margin-top: 30px;
  max-width: fit-content;
  font-weight: 500;
}

.list_title:hover {
  /* border-radius: 25px; */
  /* border-color: #fff; */
  color: #e75e8d;
}

/* Video setting */
.btn-outline-danger {
  --bs-btn-color: #e75e8d !important;
  --bs-btn-border-color: #e75e8d !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e75e8d !important;
  --bs-btn-hover-border-color: #e75e8d !important;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e75e8d !important;
  --bs-btn-active-border-color: #e75e8d !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #e75e8d !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e75e8d !important;
  --bs-gradient: none;
}
#headerPopup {
  width: 75%;
  margin: 0 auto;
}

#headerPopup iframe {
  width: 100%;
  margin: 0 auto;
}

.second_title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}

.second_title_line_1 {
  color: #e75e8d;
}

.second_title_line_2 {
  color: white;
  margin-left: 10px;
}

/* #trending {
  width: 200px;
}

#new {
  width: 105px;
} */

/* .owl-item {
  display: flex;
  justify-content: center;
  margin-right: 0;
}

.owl-prev {
  position: absolute;
  top: 31%;
  left: -40px;
}
.owl-next {
  position: absolute;
  top: 31%;
  right: -30px;
}

.owl-prev:hover {
  background-color: #e75e8d;
  color: #e75e8d;
} */
