.body {
  padding: 0;
  margin: 0;
}

.Parent {
  display: flex;
  flex-direction: row;
}

.child1 {
  width: 50%;
  height: 100vh;
  background-color: green;
  text-align: right;
  color: white;
}

.child2 {
  width: 50%;
  color: green;
  height: 100vh;
}

.title {
  text-align: center;
  padding: 100px;
  margin-top: 20px;
}

.banner_title {
  display: flex;
  justify-content: center;
}

.banner_media {
  height: 100%;
  display: flex;
  float: center;
}

.banner_img {
  width: 350px;
}

.second_title {
  text-align: center;
  padding: 100px;
  margin-top: 20px;
}

.list_img {
  width: 150px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.list_title {
  display: flex;
  justify-content: center;
  justify-content: center;
}
