.movie {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  /* align-items: center; */
  width: 1000px;
  margin: 0 auto;
}

.movie_item {
  margin: 0 20px 35px 20px;
  align-items: stretch;
  /* align-content: space-around; */
}

.list_img {
  width: 280px !important;
}
.list_title {
  font-size: medium;
  margin: 10px auto;
  width: 280px;
  /* height: auto; */
  /* height: auto; */
}

/* search page */
.main_outer_search {
  margin-top: 150px;
}

.movie_item_search {
  margin: 0 50px;
  align-items: stretch;
  align-content: space-around;
}
