.detail {
  margin-left: 50px;
  color: grey;
}

#title {
  text-align: center;
  padding-top: 100px;
  margin-top: 20px;
}

#original_title {
  display: flex;
  justify-content: center;
}

#media {
  display: flex;
}

#poster {
  width: 350px;
}

#media-middle {
  display: flex;
  flex-direction: column;
}

#overview {
  display: flex;
  margin: 50px;
  width: 500px;
}

#trailer {
  margin: 50px;
}

#cast,
#crew {
  color: white;
}

.cast_img,
.crew_img {
  width: 80px;
}
