.movie {
  display: flex;
  flex-wrap: wrap;

  /* align-items: center; */
  width: 1000px;
  margin: 0 auto;
}

.movie_item {
  padding: 20px 0px 30px 0;
  margin: 10px auto;
  align-items: stretch;
  position: relative;
  /* align-content: space-around; */
}

.delete_button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.no_review {
  height: 400px;
}

.list_img {
  height: 400px !important;
}
.list_img:hover {
  -webkit-filter: brightness(110%);
  border: 3px solid;
}

.list_title {
  font-size: medium;
  margin: 10px auto;
  width: 280px;
  /* height: auto; */
}

.list_title:hover {
  color: #e75e8d !important;
  font-size: 17px;
}

/* search page */
.main_outer_search {
  margin-top: 150px;
}

.movie_search {
  display: flex;
  flex-wrap: wrap;

  width: 1000px;
  margin: 0 auto;
}

.movie_item_search {
  margin: 0 20px 35px 20px;
}
