.movie {
  display: flex;
  flex-wrap: wrap;

  /* align-items: center; */
  width: 1000px;
  margin: 0 auto;
}

.movie_item {
  margin: 0 20px 35px 20px;
  align-items: stretch;
  /* align-content: space-around; */
}

.no_review {
  height: 400px;
}

.list_img {
  height: 400px !important;
}
.list_title {
  font-size: medium;
  margin: 10px auto;
  width: 280px;
  /* height: auto; */
}

/* search page */
.main_outer_search {
  margin-top: 150px;
}

.movie_search {
  display: flex;
  flex-wrap: wrap;

  width: 1000px;
  margin: 0 auto;
}

.movie_item_search {
  margin: 0 20px 35px 20px;
}
