.main {
  margin-left: 15px;
}
.width {
  max-width: 1200px;
}
#movie_id {
  margin-top: 120px;
}

.top_buttons {
  display: flex;
  justify-content: right;
  margin-top: 150px;
  margin-right: 31px;
}
.movie_to_review.movie_to_rating.movie_to_see_review {
  /* margin: 100px 100px 20px 500px; */
  display: flex;
}
.title_save {
  max-width: 1115px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* #release_date {
  width: 50px;
}

#runtime {
  width: 80px;
} */

.detail {
  margin-left: 50px;
  color: white;
}

.title_area {
  margin-bottom: 10px;
  line-height: 0.8;
  margin-top: 30px;
  width: 1113px;
}

#title {
  text-align: left;
  /* padding-top: 30px; */
  /* margin-top: 30px; */
}

#original_title {
  color: #e75e8d;
  /* display: flex;
  justify-content: center; */
  text-align: left;
}

.subtitle {
  margin-bottom: 20px;
  width: 235px;
  display: flex; /* establish flex container */
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  letter-spacing: 0.5px !important;
}

#media {
  display: flex;
}

#poster {
  width: 300px;
}

#overview {
  /* display: flex; */
  margin: 30px 0 30px 0;
  width: 800px;
  font-weight: 400;
  font-size: medium;
  line-height: 22px; /* 設定文字行距 */
}

#trailer {
  margin-left: 20px;
}

.cast,
.crew {
  color: #e75e8d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img_alt,
.cast_img,
.crew_img {
  width: 150px !important;
  margin: 10px 30px 10px 0px !important;
}
/* .cast_alink.crew_alink {
  width: 150px;
} */
.cast_img:hover,
.crew_img:hover {
  /* -webkit-filter: brightness(110%); */
  border: solid;
}

.img_alt {
  height: 225px;
  background-color: rgb(56, 56, 56, 1);
}

.img_alt_text {
  padding: 60px 17px;
}

.cast_list.crew_list {
  margin-left: 55px;
  display: flex;
  justify-content: center;
}

.cast_name,
.crew_name {
  max-width: 150px;
}

.cast_name:hover,
.crew_name:hover {
  color: #e75e8d !important;
  font-size: 16px;
}

.cast_character,
.crew_job {
  color: rgb(145, 145, 145) !important;
  max-width: 150px;
}

.vmc-arrow-left {
  left: -50px !important;
}
.vmc-arrow-right {
  right: 10px !important;
}

/* carousel */
.owl-item,
.owl-item.cloned {
  margin: 0 auto !important;
  width: 200px !important;
}

.owl-stage-outer {
  width: 1000px !important;
}

.cast_list {
  position: relative;
}

.owl-prev {
  color: white !important;
  font-size: 100px !important;
  position: absolute !important;
  top: 50px !important;
  left: -35px !important;
}

.owl-next {
  color: white !important;
  font-size: 100px !important;
  position: absolute !important;
  top: 50px !important;
  right: 189px !important;
}

.to_submit_page,
.see_review {
  /* margin: 350px 0 0 -315px; */
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border: 0;
  text-align: center;
}

.to_submit_page:active,
.see_review:active,
.to_submit_page:focus,
.see_review:focus {
  background-color: #e75e8d;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.to_submit_page:hover,
.see_review:hover {
  background-color: #fff;
  color: #e75e8d;
}

.movie_to_review,
.movie_to_see_review {
  margin: 0 10px;
}
