/* profile page */
/* 
* {
  box-sizing: border-box;
} */
/* 
.tab {
  margin-top: 100px;
} */

.main_outer {
  margin-top: 120px !important;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.profile_outer {
  margin: 0 auto;
}
.profile_info {
  height: 300px;
  border: solid 2px gray;
  padding: 30px;
  width: 600px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  color: white;
  display: grid;
  align-items: stretch;
}

#picture_outline {
  display: flex;
  justify-content: center;
}

#user_info {
  display: grid;
  justify-content: center;
  margin: 30px 0 0 0;
}
#name,
#email {
  display: flex;
  margin: 5px 0;
}

#name_title,
#email_title {
  display: flex;
  justify-content: flex-start;
  width: 150px;
}
#name_content,
#email_content {
  display: flex;
  justify-content: flex-start;
}

#picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#form {
  color: white;
}

.choose_image {
  color: white;
}

/* Sidebar sizes when expanded and expanded */
#sidebar-container {
  /* margin-top: 120px; */
  min-height: 500px;
  background-color: rgb(44, 44, 44);
  padding: 0;
  /* sticky */
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}

.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 60px;
  color: white;
}

#sidebar-container .list-group a:hover {
  cursor: pointer;
  height: 60px;
  color: #e75e8d;
  background-color: #2a2929;
}

/* Submenu item*/
/* #sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
} */

/* Separators */
/* .sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;
  height: 60px;
} */

/* Closed submenu icon */
/* #sidebar-container .list-group .list-group-item[aria-expanded='false'] .submenu-icon::after {
  content: ' \f0d7';
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
} */
/* Opened submenu icon */
/* #sidebar-container .list-group .list-group-item[aria-expanded='true'] .submenu-icon::after {
  content: ' \f0da';
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
} */

#collapse-text,
.tablinks,
#logout_btn {
  margin: 0 5px 0 10px;
}

/* icons */
.fas {
  font-size: 1.5rem;
  display: inline;
  text-align: right;
  padding-left: 25px;
  padding-right: 2px;
}
.fa {
  padding-left: 6px;
}
