/* profile page */
/* 
* {
  box-sizing: border-box;
} */
/* 
.tab {
  margin-top: 100px;
} */

.main_outer {
  margin-top: 120px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.profile_info {
  height: 500px;
}

#name,
#email,
#picture_outline {
  border: solid 2px gray;
  padding: 30px;
  width: 500px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  color: white;
}

#picture {
  width: 80px;
  margin-left: 100px;
}

#form {
  color: white;
}

.choose_image {
  color: white;
}

/* Sidebar sizes when expanded and expanded */
#sidebar-container {
  /* margin-top: 120px; */
  min-height: 500px;
  background-color: rgb(44, 44, 44);
  padding: 0;
  /* sticky */
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}

.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 60px;
  color: white;
}

#sidebar-container .list-group a:hover {
  cursor: pointer;
  height: 60px;
  color: #e75e8d;
  background-color: #2a2929;
}

/* Submenu item*/
/* #sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
} */

/* Separators */
/* .sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;
  height: 60px;
} */

/* Closed submenu icon */
/* #sidebar-container .list-group .list-group-item[aria-expanded='false'] .submenu-icon::after {
  content: ' \f0d7';
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
} */
/* Opened submenu icon */
/* #sidebar-container .list-group .list-group-item[aria-expanded='true'] .submenu-icon::after {
  content: ' \f0da';
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
} */

#collapse-text {
  margin: 0 5px 0 10px;
}
