.main {
  margin-top: 150px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.sidebar {
  /* width: 25%; */
  /* height: 110vh; // experiment with this value, try changing to 110vh */
  min-height: 200px;
  /* overflow: auto; */
  /* position: -webkit-sticky; */
  /* position: sticky; */
  /* top: 60px; */
  margin: 0 50px 0 50px;
}
.movie_poster {
  width: 220px;
  margin: 0px 0 20px 0;
}
.movie_title {
  font-size: medium;
  width: 220px;
}

.review_submit {
  margin: 0 20px 0 15px;
  color: white;
  height: 500px;
}

.review_info {
  width: 800px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  /* justify-content: space-around; */
}
.review_info_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 50px 0 0;
}

#review_title {
  margin-top: 10px;
  width: 500px;
}
.content {
  margin: 50px 0 0 0;
}
.content,
#review_content {
  margin-top: 10px;
  width: 500px;
  height: 220px;
}

.image_choose {
  margin-top: 10px;
}

#submit_review {
  margin: 350px 0 0 -315px;
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border: 0;

  text-align: center;
}

#submit_review:active,
#submit_review:focus {
  background-color: #e75e8d;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

#submit_review:hover {
  background-color: #fff;
  color: #e75e8d;
}
