/* shared element start ------ */
.outer_review_movie {
  margin: 150px 0;
  display: flex;
  justify-content: center;
}
.movie_poster {
  width: 220px;
  margin: 0 auto;
}

.movie_poster:hover {
  border: solid;
}

.movie_title {
  margin: 5px 0;
}

.movie_title:hover {
  color: #e75e8d !important;
  font-size: 16px;
}

.to_submit_page {
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border: 0;
  margin: 10px auto;
  width: auto;
}

.to_submit_page:active,
.to_submit_page:focus {
  background-color: #e75e8d;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.to_submit_page:hover {
  background-color: #fff;
  color: #e75e8d;
}
/* shared element end ------ */

/* no review start ----------  */

.no_review {
  /* margin: -30px 0 0 0px; */
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
}

.no_review_text {
  margin: 20px 0 30px 0;
}

.sidebar_nosticky {
  width: 220px;
  /* height: 110vh; // experiment with this value, try changing to 110vh */
  min-height: 200px;
  overflow: auto;
  /* position: -webkit-sticky;
  position: sticky; */
  /* top: 60px; */
}

/* no review end ----------  */

/* with review start -----------*/

.sidebar {
  width: 220px;
  /* height: 110vh; */
  /* // experiment with this value, try changing to 110vh */
  height: 460px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  /* margin: 150px 50px 0 80px; */
}

.submite_review {
  margin: 0 auto;
}
.outer_review_account {
  margin-top: -39px;
}

.item {
  display: flex;
}

.item_movie {
  display: flex;
  justify-content: center;
  height: 60px;
}
/* with review end -----------*/

/* review block start ------- */
