.main {
  margin-top: 150px !important;
  /* display: flex;
  align-items: flex-start;
  flex-direction: row; */
}
.submit {
  text-align-last: center;
  margin-top: 10px;
  margin-bottom: 50px;
  /* text-align-last: end;
  margin-right: 65px; */
}
.height {
  height: 450px !important;
}

.row {
  width: auto;
}
.sidebar {
  /* width: 25%; */
  /* height: 110vh; // experiment with this value, try changing to 110vh */
  min-height: 200px;
  /* overflow: auto; */
  /* position: -webkit-sticky; */
  /* position: sticky; */
  /* top: 60px; */
  margin: 0 60px 0 60px;
}
.movie_poster {
  width: 220px;
  /* margin: 0px 0 20px 0; */
}

.movie_poster:hover {
  border: solid;
}

.movie_title {
  font-size: medium;
  width: 220px;
}

.movie_title:hover {
  color: #e75e8d !important;
  font-size: 16px;
}

.review_submit {
  color: white;
}
.title {
  width: 400px;
}

#review_title {
  margin-top: 10px;
  width: 400px;
}

.content {
  margin: 50px 0 0 0;
}

.content,
#review_content {
  margin-top: 20px;
  width: 400px;
  height: 220px;
}

.image_choose {
  margin-top: 10px;
  height: 290px;
}

#submit_review {
  /* margin: 350px 0 0 -315px; */
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border: 0;

  text-align: center;

  width: 200px;
}

#submit_review:active,
#submit_review:focus {
  background-color: #e75e8d;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

#submit_review:hover {
  background-color: #fff;
  color: #e75e8d;
}

/* update */

#update_review {
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border: 0;

  text-align: center;

  width: 200px;
}
#update_review :active,
#update_review :focus {
  background-color: #e75e8d;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

#update_review:hover {
  background-color: #fff;
  color: #e75e8d;
}

.sidebar_review_update {
  min-height: 200px;
}

.review_form_update {
  margin-left: 30px;
}

.image_update {
  margin-left: 50px;
}

/* input  */
.input_area {
  margin-left: 50px;
}

/* input and textarea show text limit -------- */
#input_count,
#textarea_count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
  margin: 2px;
  font-weight: 400;
}

/* input and textarea show text limit -------- */
