/* review account */
.main {
  margin-left: 15px;
}
.tab {
  margin-top: 100px;
}

.review {
  width: 700px;
  border: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255, 0.9);
  border-radius: 15px;
  margin-bottom: 50px;
  background-color: rgba(59, 59, 59, 0.7);
}

.review_content {
  margin: 25px 25px 25px 25px;
}

.user {
  display: flex;
}

.profile_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.username {
  margin: auto auto auto 15px;
}

.review_img {
  width: 300px;
}

.movie_poster {
  width: 220px;
}

.movie {
  margin: 100px 0 0 100px;
}

.poster {
  width: 150px;
}

/* review info page */
.main_review_info {
  margin-top: 160px;
  display: flex;
  /* margin-left: 15px; */
  /* justify-content: flex-start; */
  align-items: flex-start;
  flex-direction: row;
}
.outer_review_info {
  margin: 0 0 0 6px;
}

.sidebar_review_info {
  /* width: 25%; */
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  /* top: 60px; */
  margin: 0px 50px 0 50px;
}

/* review account page */

.main_review_account {
  margin-top: 160px;
  display: flex;
  /* margin-left: 15px; */
  /* justify-content: flex-start; */
  align-items: flex-start;
  flex-direction: row;
}
.outer_review_account {
  margin: 0 0 0 80px;
}
