/* hidden */
.review_title_movie,
.review_img,
.review_text_movie {
  display: none;
}

.review_account {
  /* border: 3px;
  border-style: solid;
  border-color: rgba(131, 128, 128, 0.9);
  border-radius: 5px; */
  margin-top: 41px;
  /* background-color: rgba(59, 59, 59, 0.7); */
  min-height: 150px;
  width: 600px;
}

/* spoiler alert toggle */
.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
  border-radius: 20rem;
}
.toggle.ios .toggle-handle {
  border-radius: 20rem;
}

.btn-primary {
  --bs-btn-bg: #e75e8d !important;
  --bs-btn-border-color: #e75e8d !important;
  --bs-btn-hover-bg: #ee72a8 !important;
  --bs-btn-hover-border-color: #ee72a8 !important;
  --bs-btn-active-bg: #de4e80 !important;
  --bs-btn-active-border-color: #de4e80 !important;
  --bs-btn-disabled-bg: #e75e8d !important;
  --bs-btn-disabled-border-color: #e75e8d !important;
}

.toggle-off {
  --bs-btn-bg: rgb(210, 208, 208) !important;
  --bs-btn-border-color: rgb(210, 208, 208) !important;
  --bs-btn-hover-bg: rgb(228, 227, 227) !important;
  --bs-btn-hover-border-color: rgb(228, 227, 227) !important;
  --bs-btn-active-bg: rgb(210, 208, 208) !important;
  --bs-btn-active-border-color: rgb(210, 208, 208) !important;
  --bs-btn-disabled-bg: rgb(210, 208, 208) !important;
  --bs-btn-disabled-border-color: rgb(210, 208, 208) !important;
}

.spoiler {
  justify-content: right;
  margin-bottom: 15px;
  margin-top: -50px;
  margin-right: 1px;
}

.toggle {
  margin-left: 15px;
}

.btn.btn-primary.btn-sm.toggle-on {
  line-height: 17.5px;
}

.btn.btn-light .btn-sm.toggle-off {
  line-height: 19px;
}

/* .spoiler_alert {
  margin: 0 0 10px 411px !important;
  width: 120px;
}

.spoiler_alert {
  font-size: 10px;
  color: #fff;
  background-color: #e75e8d;
  padding: 6px 10px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border: 0;
  margin: 0;
  margin-left: 8px;
}
.spoiler_alert:active {
  background-color: #e75e8d;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.spoiler_alert:focus {
  background-color: #e75e8d;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.spoiler_alert:hover {
  background-color: #fff;
  color: #e75e8d;
} */
